/* NAV */
.menu {
  padding: 20px;
  background-color: rgb(174, 164, 209);
  border: none;
  box-shadow: none;
  outline: none; 
}
    
.container-fluid {
  background-color:rgb(174, 164, 209);
  border: none;
  box-shadow: none;
  outline: none;
}
    
.navbar-nav{
  border: none;
  box-shadow: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
.navbarNavAltMarkup {
  background-color: rgb(5, 0, 0);
  border: none;
  box-shadow: none;
  outline: none;
}

/* HEADER*/
.card-title-header {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 65px; 
  text-align: center;
  font-weight: bold;
  color: rgb(249, 239, 239);
}

.card-pres{
  background-image: url("./src/fondo.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 30vh;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5%;
  
}

.contenedor-titulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.descpripcion-pagina{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 27px;
  color: white;
  padding: 20px;
  max-width: 80%;
  margin-left: 10%;
  text-align: justify; 
}
    
/* TARJETAS  */
body {
  background-color: rgb(5, 0, 0);
  padding: 20px;
}
h1, h2, h3 { 
  font-family: Impact;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.contact-container, .form-section {
  background-color: rgba(174, 164, 209, 0.04);

}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
    
.social-section, .form-section {
  flex: 1; /* Ambas columnas tendrán el mismo ancho */
}
    
.social-section {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(174, 164, 209, 0.995);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
 
.contacto {
  padding: 20px;
  background-color: rgb(174, 164, 209);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.form-section {
  padding: 20px;
  background-color: rgb(174, 164, 209);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
    
button {
  padding: 10px 20px;
  background-color: rgb(7, 0, 0);
  color: rgb(143, 98, 174);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;

}
#submit {
  padding: 10px 20px;
  background-color: rgb(7, 0, 0);
  color: rgb(143, 98, 174);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
    
button:hover {
  background-color: rgb(7, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
    
footer {
  height: 100px;
  background-image: url("./src/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  filter: opacity(0.9);
}
/*RESPONSIVO*/
@media (max-width: 768px) {
  .card-title-header {
      font-size: 30px;
  }

  .descpripcion-pagina {
      margin-right: 1%;
      font-size: 13px; 
  }

  .navbar-nav {
      font-size: 16px;
      flex-direction: column;
  }

  .imagen img {
      margin: 10px auto;
  }

  .col-4 {
      margin-top: 20px;
  }

  textPath {
      font-size: 60px;
  }
}
/* responsivo */


@media (max-width: 576px) { 
  .descpripcion-pagina,
  .saludo-1,
  .saludo-2 {
      font-size: 12px; /* Tamaño de fuente aún más pequeño */
  }
  .card-title-header {
      font-size: 24px;
  }
}
        // Required Bootstrap imports
        @import "../node_modules/bootstrap/scss/variables";
        @import "../node_modules/bootstrap/scss/variables-dark";
        @import "../node_modules/bootstrap/scss/maps";
        @import "../node_modules/bootstrap/scss/mixins";
        @import "../node_modules/bootstrap/scss/root";