/* NAV */
.container-fluid {
  background-color:  rgba(144, 98, 174, 0.371);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}

.menu {
  padding: 20px;
  background-color: rgba(144, 98, 174, 0.371);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}

.navbar-nav{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  background-color: rgba(144, 98, 174, 0.371);
  color: rgb(3, 0, 0);
}
        
.navbarNavAltMarkup {
  background-color: rgb(5, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}
.navbar-toggler{
  padding: 20px;
  background-color: rgba(144, 98, 174, 0.371);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}

/* DESCRIPCION PROYECTO*/
.card-title-header {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem; 
  font-weight: bold;
  color: rgb(249, 239, 239);
  position: relative;
  top: 5%;
  margin-left: 5%;
}
  
.card-pres {
  background-image: url("../PROYEC/scr/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5%;
}
.descpripcion-pagina {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 9%;
  margin-right: 20%;
  color:  white;
  max-width: 80%;
  padding: 0px;
  margin-top: 30px;
}
  
.contenedor-titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 8%;
  gap: 10px;
  box-sizing: border-box;
}  
/* TARJETAS  */

body {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
h1, h2, h3 { 
  font-family: Impact;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
.contact-container, .form-section {
  background-color: rgba(174, 164, 209, 0.04);

}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}
    
.social-section, .form-section {
  flex: 1; /* Ambas columnas tendrán el mismo ancho */
}
    
.social-section {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(174, 164, 209, 0.995);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
 
.contacto {
  padding: 20px;
  background-color: rgb(174, 164, 209);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.form-section {
  padding: 20px;
  background-color: rgb(174, 164, 209);
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
    
button {
  padding: 10px 20px;
  background-color: rgb(7, 0, 0);
  color: rgb(143, 98, 174);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;

}
#submit {
  padding: 10px 20px;
  background-color: rgb(7, 0, 0);
  color: rgb(143, 98, 174);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
    
button:hover {
  background-color: rgb(7, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}
    
footer {
  height: 100px;
  background-image: url("./src/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  display: flex;
  justify-content: center;
  filter: opacity(0.9);
}

        // Required Bootstrap imports
        @import "../node_modules/bootstrap/scss/variables";
        @import "../node_modules/bootstrap/scss/variables-dark";
        @import "../node_modules/bootstrap/scss/maps";
        @import "../node_modules/bootstrap/scss/mixins";
        @import "../node_modules/bootstrap/scss/root";