/* NAV */
.menu {
  padding: 20px;
  background-color: rgb(174, 164, 209);
  border: none;
  box-shadow: none;
  outline: none; 
}
    
.container-fluid {
  background-color:rgb(174, 164, 209);
  border: none;
  box-shadow: none;
  outline: none;
}
    
.navbar-nav{
  border: none;
  box-shadow: none;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
    
.navbarNavAltMarkup {
  background-color: rgb(5, 0, 0);
  border: none;
  box-shadow: none;
  outline: none;
}

/* HEADER*/
.card-title-header {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 65px; 
  text-align: center;
  font-weight: bold;
  color: rgb(249, 239, 239);
}

.card-pres{
  background-image: url("./src/fondo.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 30vh;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5%;
  
}

.contenedor-titulo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.descpripcion-pagina{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  color: black;
  padding: 20px;
  max-width: 80%;
  margin-left: 9%;
  text-align: justify; 
}
    
/* PORTAFOLIO E IMAGEN*/
body {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
    
textPath {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 80px;
  fill: rgb(174, 164, 209);
  font-weight: bold;
  position: absolute;
  top: 50%
  margin-top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.imagen {
  position: relative; /* Imagen relativa */
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-wrap: wrap; /* Permite que las columnas se ajusten al ancho */
}

.imagen img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.col-4 {
  background-color: rgb(143, 98, 174);
  padding: 20px;
  margin-top: 4%;
  box-sizing: border-box;
  flex: 1; 
  border-radius: 10%;
}

footer {
  height: 100px;
  background-image: url(./src/footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  filter: opacity(0.9);
}

/* RESPONSIVO*/
@media (max-width: 768px) { /* Móviles */
  .card-title-header {
      font-size: 30px;
  }

  .navbar-nav {
      font-size: 16px;
      flex-direction: column;
  }

  .imagen img {
      margin: 10px auto; /* Ajusta el margen de la imagen */
  }

  .col-4 {
      margin-top: 20px; /
  }

  textPath {
      font-size: 60px;
  }
}

// Required Bootstrap imports
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";
    
// Optional components
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
