/* NAV */
.container-fluid {
  background-color:  rgba(144, 98, 174, 0.371);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}

.menu {
  padding: 20px;
  background-color: rgba(144, 98, 174, 0.371);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}

.navbar-nav{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  background-color: rgba(144, 98, 174, 0.371);
  color: rgb(3, 0, 0);
}
        
.navbarNavAltMarkup {
  background-color: rgb(5, 0, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}
.navbar-toggler{
  padding: 20px;
  background-color: rgba(144, 98, 174, 0.371);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgb(3, 0, 0);
}

/* DESCRIPCION PROYECTO*/
.card-title-header {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem; 
  font-weight: bold;
  color: rgb(249, 239, 239);
  position: relative;
  top: 5%;
  margin-left: 5%;
}
  
.card-pres {
  background-image: url("./src/fondo.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5%;
}
.descpripcion-pagina {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  margin-left: 9%;
  margin-right: 20%;
  color:  white;
  max-width: 80%;
  padding: 0px;
  margin-top: 30px;
}
  
.contenedor-titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-top: 8%;
  gap: 10px;
  box-sizing: border-box;
}
    
/* HOLA/FOTO/EDAD  */
body {
  background-color: rgb(0, 0, 0);
  padding: 20px;
}
        
.saludo-1, .favorite {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: left;
  justify-content: left;
  color:  rgb(143, 98, 174);
  text-align: center; 
  padding: 20px;
}
    
.saludo-2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color:  rgb(174, 164, 209);
  text-align: center; 
  padding: 10px;
}
    
.col-sm .a2 {
  max-width: 90%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  padding-top: 30px;
}
    
.a1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  color:  white;
  text-align: justify; 
  padding: 20px;
  margin-top: 30px;
}
    
/* MI INTERES ACADEMICO/DETALLE  */
    
.b1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  color:  white;
  text-align: justify; 
  padding: 20px;
}

.b2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: justify;
  color:  white;
  text-align: justify; 
  padding: 20px;
}
.col-4 {
  background-color:rgba(144, 98, 174, 0.492);
  border-radius: 60%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.b3 {
  max-width: 130%;
  height: auto;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center; 

}
    
/* MI INTERES ACADEMICO/DETALLE  */
    
.table .caption-top {
  width: 100%; 
  padding: 20px;
  color: rgb(174, 164, 209);
}
      
.table img {
  max-width: 50%; 
  height: auto;
  border-radius: 30%;
  align-items: center; 
}
      
.table th, .table td {
  padding: 10px; 
  text-align: center; 
  font-size: 2rem;
  border: 20px, rgba(144, 98, 174, 0.492);
  background-color: black;
  color: rgb(174, 164, 209);
}

.table caption {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color:  rgb(0, 0, 0);
  justify-content: center;

}

.table th {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: white(144, 98, 174, 0.492);
  justify-content: center;
  text-align: justify; 
  background-color: black;
}

.sobre-c {
    width: 100%; /* Asegura que el contenedor de la tabla también ocupe todo el ancho */
    padding: 20px;
    background-color: black;
}
    
footer {
    height: 100px;
    background-image: url("./SRC/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    filter: opacity(0.9);
}
/* RESPONSIVO CEL */
@media (max-width: 767px) {  /* 767px es un punto de corte común para móviles */
    .card-title-header {
      font-size: 4rem; /* Reduce el tamaño del título principal */
      margin-left: 0; /* Ajusta el margen si es necesario */
      position: relative; /* Para que no se superponga con otros elementos */
      top: 0;
    }
  
    textPath {
      font-size: 3rem; /* Reduce el tamaño del textPath */
    }
  
    .descpripcion-pagina {
      font-size: 1.2rem; /* Reduce el tamaño del texto de descripción */
      max-width: 90%; /* Ajusta el ancho máximo del texto */
    }
  
    .titulo svg {
      max-width: 90%; /* Ajusta el ancho máximo del SVG */
    }
  
    .imagen img {
      max-width: 90%; /* Ajusta el ancho máximo de la imagen */
    }
  
    .col-md-4 {
      margin-top: 3%;
      margin-bottom: 3%;
    }
  
    .container-pq {
      max-height: 90px;
    }
  
    .title-description {
      font-size: 1.2rem;
    }
  }
  
  /* RESPONSIVO TABLET */
  @media (min-width: 768px) and (max-width: 991px) { /* Ajusta los puntos de corte según necesites */
    textPath {
      font-size: 4rem; /* Tamaño intermedio para tabletas */
    }
  
    .descpripcion-pagina {
      font-size: 1.5rem; /* Tamaño intermedio para tabletas */
    }
  
    .titulo svg {
      max-width: 95%; /* Ajusta el ancho máximo del SVG */
    }
  
    .imagen img {
      max-width: 95%; /* Ajusta el ancho máximo de la imagen */
    }
  
    .col-md-4 {
      margin-top: 3%;
      margin-bottom: 3%;
    }
  
    .container-pq {
      max-height: 100px;
    }
  
    .title-description {
      font-size: 1.5rem;
    }
  }
  
  
  // BOOTSTRAP
  @import "../node_modules/bootstrap/scss/functions";
  
  // Variable overrides second
  $primary: #900;
  $enable-shadows: true;
  $prefix: "mo-";
  
  // Required Bootstrap imports
  @import "../node_modules/bootstrap/scss/variables";
  @import "../node_modules/bootstrap/scss/variables-dark";
  @import "../node_modules/bootstrap/scss/maps";
  @import "../node_modules/bootstrap/scss/mixins";
  @import "../node_modules/bootstrap/scss/root";
  
  // Optional components
  @import "../node_modules/bootstrap/scss/utilities";
  @import "../node_modules/bootstrap/scss/reboot";
  @import "../node_modules/bootstrap/scss/containers";
  @import "../node_modules/bootstrap/scss/grid";
  @import "../node_modules/bootstrap/scss/helpers";
  @import "../node_modules/bootstrap/scss/utilities/api";
